.agenda-header-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: end;
  width: 1248px;
  margin: 0 auto;
}

.agenda-header-menu > :last-child {
  justify-self: end;
  text-align: end;
}

.agenda-header-menu-header {
  font-size: 5rem;
  margin: 0;
  color: #010101;
  line-height: 72px;
  font-weight: 264;
}

.agenda-header-menu-subheader {
  font-size: 1.25rem;
  font-weight: 400;
  color: #000000;
  line-height: 22px;
  margin: 0;
}

.agenda-header-menu-container {
  height: 95px;
  width: 400px;
}

@media screen and (max-width: 599px) {
  .agenda-header-menu  {
    width: 390px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: baseline;
    margin: 0;
  }

  .agenda-header-menu > :last-child {
    display: none;
  }

}

@media screen and (min-width: 600px) and (max-width: 1279px) {
  .agenda-header-menu  {
    width: 488px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: baseline;
    margin: 0;
  }

  .agenda-header-menu > :last-child {
    display: none;
  }
}


@media (min-width: 1920px) {
  .agenda-header-menu {
    width: 1728px;
  }
}
