.btn-underline {
  display: inline-block;
  padding: 8px 16px 8px 0;
  text-decoration: none;
  position: relative;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  padding-right: 28px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--app-color-light-dark);
  border-top: none;
  border-right: none;
  border-bottom: 0.8px solid var(--app-color-light-dark);
  border-left: none;
  letter-spacing: 0.2px;
  text-align: left;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  cursor: pointer;
}

.app-btn-icon {
  position: absolute;
  right: 0;
  width: 13px;
  height: 20px;
  cursor: pointer;
}
