.spinner {
  border: 4px solid var(--app-color-black);
  border-top: 4px solid var(--app-color-dark-shadow);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}